@import 'core/typography/typography';

// normalize typography
@mixin _components-typography-normalize() {
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

// includes all of the typographic styles.
@mixin components-typography($config: null,  $selector: "") {
  @if $config == null {
    $config: mat-typography-config();
  }

  @include mat-base-typography($config, $selector);

  @if ($selector != "") {
    #{$selector} {
      @include _components-typography-normalize();
    }
  } @else {
    @include _components-typography-normalize();
  }
}
